* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


#drum-machine {
  position: relative;
  width: 440px;
  height: 229px;
  display: flex;
  justify-content: end;
  align-items: center;
  grid-column-gap: 20px;
  box-sizing: border-box;
  background-image: url(https://cdn.dribbble.com/users/2189664/screenshots/17438794/media/10914509512720055fac70d92e4eed68.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.display-wraper {
  position: absolute;
  left: 130px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 229px;
}

#volume {
  display: flex;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 2px;
  border: none;
  background: rgb(32, 32, 32);
  box-shadow: 1px 1px 7px rgb(73, 69, 69);
  color: white;
  transition: background 0.3s ease-out;
  height: 50px;
  width: 75px;
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}


.display {
  width: 75px;
  height: 114px;
  text-align: center;
  padding: 70% 0;
  background: rgb(32, 32, 32);
  box-shadow: 1px 1px 7px rgb(73, 69, 69, 0.7);
  border-radius: 2px;
  color: white;
  opacity: 0;
  margin-bottom: 5px;
}

.wraper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 2px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  overflow: hidden;
}

#plant {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  position: absolute;
  top: 23%;
  bottom: 0;
  width: 480px;
}

#chameleon {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  position: absolute;
  top: 41%;
  left: 42%;
  width: 190px;
  opacity: 0.9;
}

.drum-pad {
  width: 75px;
  height: 75px;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  background: rgb(32, 32, 32);
  color: white;
  box-shadow: 1px 1px 7px rgb(73, 69, 69);
  transition: background 0.3s ease-out;
  opacity: 0;
}

#plus, #sub {
  cursor: pointer;
  border-radius: 2px;
  border: none;
  background: rgb(32, 32, 32);
  box-shadow: 1px 1px 7px rgb(73, 69, 69);
  color: white;
  transition: background 0.3s ease-out;
  width: 32;
  height: 32;
  padding: 5px 15px;
}

.vol {
  opacity: 0;
}


.display-wraper #on, .display-wraper #off {
  cursor: pointer;
  width: 75px;
  border-radius: 2px;
  border: none;
  background: rgb(32, 32, 32);
  box-shadow: 1px 1px 7px rgb(73, 69, 69);
  color: white;
  transition: background 0.3s ease-out;
  opacity: 0.7;
  height: auto;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.display-wraper #on:hover,
.display-wraper #off:hover,
.display-wraper #plus:hover,
.display-wraper #sub:hover {
  border: none;
  transition-duration: 0ms;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.1));
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  filter: brightness(1.1);
  font-weight: bolder;
  opacity: 0.9;
  box-shadow: 1px 1px 7px rgb(253, 253, 253, 0.3);

}

.drum-pad:hover {
  border: none;
  transition-duration: 0ms;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.1));
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  cursor: pointer;
  transform: skewY(3px);
  transform: scale(1.01);
  filter: brightness(1.1);
  font-weight: bolder;
  font-size: 1.1em;
  opacity: 0.9;
  box-shadow: 1px 1px 7px rgb(253, 253, 253, 0.3);
}

.drum-pad-hover:hover {
  display: none;
}

.hideSwitch {
  display: none;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 0.7;
}